aiohttp==3.0.4
async-timeout==2.0.0
attrs==17.4.0
certifi==2018.1.18
chardet==3.0.4
idna==2.6
idna-ssl==1.0.0
llvmlite==0.22.0
motor==1.2.1
multidict==4.1.0
numba==0.37.0
numpy==1.14.1
pandas==0.22.0
py-lets-be-rational==1.0.1
py-vollib==1.0.1
pymongo==3.6.0
python-dateutil==2.6.1
pytz==2018.3
requests==2.18.4
scipy==1.0.0
simplejson==3.13.2
six==1.11.0
slacker==0.9.60
tabulate==0.8.2
ujson==1.35
urllib3==1.22
websockets==4.0.1
yarl==1.1.1
